# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv/
venv/
ENV/
env/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Ignore raw knowledge base docs (PDFs)
kb_docs/

# Allow compiled KB index (IMPORTANT)
!kb_index.pkl


